@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-primary-300;
}

.btn {
    @apply font-bold;
    @apply py-1;
    @apply px-4;
    @apply rounded;
    @apply ml-2;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-700;
}


